@font-face {
    font-family: PP mori;
    src: url(./ppmori.ttf);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: PP mori;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
}
#purple{
  height: 100vh;
  width: 100vw;
  top: 0;
  position: fixed;
  z-index: 100;
  background-color: #EDBFFF;
  opacity: 0;
  display: none;
  transition: opacity ease 1s;
  
}
.cursor{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: fixed;
  background-color: #EDBFFF;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size:cover ;
  mix-blend-mode: difference;
}
.main {
  background-color:#0F0D0D;
  cursor: none;
}

.page1 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  z-index: 9;
  padding-top: 12vw;
}

#nav {
  height: 55px;
  width: 100%;
  /* background-color: crimson; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
  mix-blend-mode: difference;
  position: fixed;
  z-index: 102;
}
#nav img {
  height: 23px;
}
#nav-part-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#nav #circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background-color: purple;
}
#nav h4 {
  font-size: 13px;
  font: weight 500px;
  text-transform: uppercase;
}
#nav h4:nth-child(1){
    border-bottom: 2px solid #fff;
}

.page1 h1{
    font-size: 8vw;
    font-weight: 400;
    font-family: PP mori;
    
    margin-left: 8vw;
}
.page1 h2{
    font-size: 8vw;
    font-weight: 400;
    font-family: PP mori;
    margin-left: 26vw;
}

.page1 video{
    width: 60%;
    position: relative;
    margin-top: 10vw;
    left: 50%;
    transform: translate(-50%,0)
}

.page2{
    min-height: 80vh;
    width: 100%;
    font-family: PP mori;
    padding: 100px 5vw;
    position: relative;
    border-bottom: 2px solid #111;
    z-index: 9;
    
}

.page2 h1{
    font-size: 7vw;
    font-weight: 500;
    color:#111;
    font-family: PP mori;
    
}

.page2-container{
    height: 60vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    
}

.page2-left{
    /* background-color: blue; */
    width: 38%;
}
.page2-right{
    /* background-color: blue; */
    width: 28%;
    
    padding: 20px 2px;
}
.page2-left h2{
    font-size: 4vw;
    font-weight: 300;
    color: #111;
    font-family: PP mori;
    line-height: 4vw;
}
.page2-right p{
    font-size: 19px;
    
    color: #111;
}
.page2-right button{
    width: 100%;
    border-radius: 50px;
    border: none;
    background-color: #EDBFFF;
    padding: 4px 0;
    color: #111;
    margin-top: 20px;
}

.page3{
  min-height:100vh ;
  width: 100%;
  position:relative;
  padding-top: 100px;
  z-index: 9;

}


.page3 h1{
  font-size: 6.8vw;
  font-weight: 300  ;
  color: #111;
  margin-left: 100px;

}

.page3-part1{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 6vw;

}

.page3-part1 img{
  height:600px;
  width: 600px;
  margin-top: 160px;
  object-fit: contain;

}

.page4{
  min-height:100vh ;
  width: 100%;
  position:relative;
  /* background-color: red; */
  z-index: 9;
  padding: 140px 100px;
  
}

.elem{
  /* background-color: salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.text {
  /* background-color: lightblue; */
  height: 130px;
  overflow: hidden;
}
.elem h1{
  font-size: 7.5vw;
  transition: all ease-out 0.5s;
  font-weight: 300;
}
.elem img{
  position: absolute;
  opacity: 0;
  transition: all ease-out 0.5s;
  transform: translateY(10%) rotate(2deg);
  
}

.elem img:nth-child(1){
  left: 3.2%;
}

.elem img:nth-child(3){
  right: 9.2%;
}

.elem:hover h1{
  transform: translateY(-100%);
  color: #EDBFFF;

}

.elem:hover img{
  opacity: 1;
  transform: translateY(0%) rotate(0deg);

}

.page5{
  min-height:100vh ;
  width: 100%;
  position:relative;
  /* background-color: blue; */
  z-index: 9;
  padding: 140px 100px;
  
}

.page5 h2{
  font-size: 4vw;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 50px;
}

.box{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding 0 20px;
  border-top:  2px solid #dadada;
}
.box:nth-last-child(1){
  border-bottom: solid 2px #dadada ;

}


footer{
  height: 90vh;
  width: 100%;
  background-color: antiquewhite;
}



